{{#expect id, title, aspect }}
{{#var ratio = aspect || "16 / 9" }}
{{#var fallback = `YouTube video with ID ${id}` }}

<figure data-type="youtube">
  <div class="AspectRatio" style="--aspect-ratio: calc({{ ratio }})">
    <iframe
      class="AspectRatio--content"
      src="https://www.youtube.com/embed/{{ id }}"
      title="{{ title || fallback }}"
      frameBorder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowFullScreen
    />
  </div>
</figure>
