{{- $DATA := (index $.Site.Data .Section) -}}
{{- .Scratch.Set "product" $DATA -}}

{{- $META := merge $DATA.meta (default dict .Params.meta) -}}

{{- $pt := default .Title .Params.meta.title -}}
{{- $title := printf "%s · %s" $pt $DATA.meta.title -}}
<!doctype html>
<html lang="{{ .Site.LanguageCode }}" theme="light" is-docs-page="">
<head>
  <meta charset="utf-8">
  <title>{{ $title }}</title>
  <meta http-equiv="cleartype" content="on"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta name="application-name" content="{{ $title }}"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="apple-mobile-web-app-title" content="{{ $title }}"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="theme-color" content="#f38020"/>

  <meta name="description" content="{{ $META.description }}" />

  <meta property="og:image" content="{{ $META.image }}"/>
  <meta property="og:title" content="{{ $title }}"/>
  <meta property="og:description" content="{{ $META.description }}"/>
  <meta property="og:type" content="website"/>

  <meta name="twitter:title" content="{{ $title }}"/>
  <meta name="twitter:image" content="{{ $META.image }}"/>
  <meta name="twitter:description" content="{{ $META.description }}"/>
  <meta name="twitter:creator" content="{{ $META.author }}"/>
  <meta name="twitter:card" content="summary_large_image"/>

  <link rel="stylesheet" href="/style.css"/>
	{{- block "styles" . -}}{{- end -}}

  {{- partial "script" (dict "src" "theme.ts" "inline" true "format" "iife") -}}
  {{- partial "script" (dict "src" "main.ts" "defer" true) -}}
  {{- block "scripts" . -}}{{- end -}}

	<!-- <script>var $$r=document.documentElement;$$r.className='';!function(){var a=localStorage.getItem("dark");(a=a&&+a)||a||window.matchMedia&&window.matchMedia("(prefers-color-scheme: dark)").matches,$$r.classList.toggle("dark",a=!!a),localStorage.setItem("dark",+a+"")}()</script> -->
  <script data-source="docs" async defer src="https://feedback.developers.cloudflare.com/sdk.js"></script>
  <link rel="preload" href="https://feedback.developers.cloudflare.com/sdk.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
  <noscript><link rel="stylesheet" href="https://feedback.developers.cloudflare.com/sdk.css"/></noscript>
</head>
<body>
	<div class="DocsPage">
    {{- partial "topbar.mobile" . -}}
    {{- partial "sidebar.nav" . -}}

    <div class="DocsToolbar">
      {{- partial "topbar.search" . -}}

      <div class="DocsToolbar--tools">
        <span class="wrapper svelte-14pk8r8">
          <button data-feedback="true" class="DocsToolbar--feedback Button Button-is-docs-secondary">
            <svg fill="none"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 17">
              <path d="M14 2.5H2l-.5.5v11.165l.863.345 2.852-3.01H14l.5-.5V3l-.5-.5Zm-.5 8H4.785L2.5 12.911V3.5h11v7Z" fill="currentColor"></path>
              <path d="M12.5 5.003h-9v1h9v-1ZM12.5 7.5h-9v1h9v-1Z" fill="currentColor"></path>
            </svg>Give Feedback
          </button>
        </span>
        <div class="DocsToolbar--tools-spacer"></div>
        <div class="DocsToolbar--tools-icon-item">
          <div class="Tooltip---root">
            <div class="DocsToolbar--tools-icon-item-content">
              <a class="Link Link-without-underline" href="https://github.com/cloudflare/cloudflare-docs">
                <svg viewBox="0 0 16 16" fill="currentColor" role="img" aria-labelledby="title-6991762763429039"
                  xmlns="http://www.w3.org/2000/svg">
                  <title id="title-6991762763429039">GitHub icon</title>
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z" fill-rule="evenodd"></path>
                </svg>
              </a>
            </div>

            <span class="Tooltip" role="tooltip" position="bottom-end">Visit {{ .Section | title }} on GitHub</span>
          </div>
        </div>
        <div class="DocsToolbar--tools-spacer"></div>
        <div class="DocsToolbar--theme-toggle">
          <div class="Tooltip---root">
            <div class="ThemeToggle">
              <input type="checkbox" id="ThemeToggle" class="ThemeToggle--input">
              <label class="ThemeToggle--toggle" for="ThemeToggle">
                <div class="ThemeToggle--toggle-handle"></div>
                <div class="ThemeToggle--toggle-handle-icon ThemeToggle--sun">
                  <svg viewBox="0 0 16 16" fill="currentColor" role="img" aria-labelledby="title-8812071124069258"
                    xmlns="http://www.w3.org/2000/svg">
                    <title id="title-8812071124069258">Light theme icon (depiction of a sun)</title>
                    <path d="M7.5 11.465a3.482 3.482 0 01-1.596-.662L4.11 12.596a.5.5 0 01-.707-.707l1.793-1.793A3.482 3.482 0 014.535 8.5H2a.5.5 0 010-1h2.535a3.482 3.482 0 01.662-1.596L3.404 4.11a.5.5 0 01.707-.707l1.793 1.793A3.482 3.482 0 017.5 4.535V2a.5.5 0 011 0v2.535a3.482 3.482 0 011.596.662l1.793-1.793a.5.5 0 01.707.707l-1.793 1.793c.343.458.577 1.003.662 1.596H14a.5.5 0 110 1h-2.535a3.482 3.482 0 01-.662 1.596l1.793 1.793a.5.5 0 01-.707.707l-1.793-1.793a3.482 3.482 0 01-1.596.662V14a.5.5 0 11-1 0v-2.535z"></path>
                  </svg>
                </div>
                <div class="ThemeToggle--toggle-handle-icon ThemeToggle--moon">
                  <svg viewBox="0 0 16 16" fill="currentColor" role="img" aria-labelledby="title-5971296394189265"
                    xmlns="http://www.w3.org/2000/svg">
                    <title id="title-5971296394189265">Dark theme icon (depiction of a moon)</title>
                    <path d="M7.067 3.087a5 5 0 005.466 7.026 5 5 0 11-5.466-7.026z"></path>
                  </svg>
                </div>
              </label>
              <span class="Tooltip" role="tooltip" position="bottom-end">Set theme to dark (⇧+D)</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="DocsBody">
      {{- block "main" . -}}{{- end -}}
    </main>

    {{ partial "footer" . }}
  </div>
</body>
</html>
