{{ define "main" }}
  <div class="DocsPage">
    {{- partial "topbar.mobile" . -}}
    {{- partial "sidebar.nav" . -}}

    <div class="DocsToolbar">
      {{- partial "topbar.search" . -}}
      {{- partial "topbar.tools" . -}}
    </div>

    <main class="DocsBody">
      <div id="docs-content" data-reach-skip-nav-content></div>

      <div class="DocsContent" page-type="overview">
        <article class="DocsMarkdown">
          <div class="DocsMarkdown--content-column">
            {{- .Content -}}
          </div>
        </article>
      </div>
    </main>

    {{ partial "footer" . }}
  </div>
{{ end }}