<div class="DocsBody--sidebar" with-styled-webkit-scrollbars="">
  <div class="DocsBody--sidebar-content-scroll-fade"></div>
  <div class="DocsBody--sidebar-content">
    {{ .TableOfContents }}
    <nav>
      <ul class="DocsTableOfContents">
        <li><a class="DocsTableOfContents-link" href="#docs-content">↑ Top</a></li>
        <li><a class="DocsTableOfContents-link" href="#simple-explanation">Simple explanation</a></li>
        <li><a class="DocsTableOfContents-link" href="#technical-explanation">Technical explanation</a></li>
        <li><a class="DocsTableOfContents-link" href="#example-scenario">Example scenario</a></li>
      </ul>
    </nav>
  </div>
</div>